[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Meteo.lv
GenericName=Meteo.lv
Comment=Meteo.lv kartes
Exec=meteo
Icon=meteo
Terminal=false
Type=Application
Categories=Multimedia;AudioVideo;Video;GTK;Graphics;Internet;